body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

h1, h2, h3, h4, h5, span, p, label, a{
  font-family: 'Kanit', sans-serif;
}

.modal .prefix{
  width: 0em;
}

.modal .row{
  margin-bottom: 0px;
}

.modal-close i.material-icons{
  line-height: inherit;
}

.section{
  padding-top: 4vw;
  padding-bottom: 4vw;
}

.student{
  margin-bottom: 5vw;
}

.student li{
  margin-bottom: 5px;
}

.student img{
  padding: 1vw;
}

.collapsible .row{
  margin-bottom: 0px;
}

.collapsible-header{
  height: 10vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-game{
  background-image: url(../img/game_img.jpg);
}

.header-web{
  background-image: url(../img/web.jpg);
}

.header-jam{
  background-image: url(../img/game_jam.jpg);
}
