body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

h1, h2, h3, h4, h5, span, p, label, a{
  font-family: 'Kanit', sans-serif;
}
.section h2{
  margin-top: 0px;
}

.modal .prefix{
  width: 0em;
}

.modal .row{
  margin-bottom: 0px;
}

.modal-close i.material-icons{
  line-height: inherit;
}

.student .card-title{
  margin-top: 0px;
}

.secret{
  position: fixed;
  height:100px;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: none;
}

.card-content i{
  font-size: 12px;
}

nav ul a.btn{
  margin-left: 0px;
  margin-right: 0px;
}

.collapsible-header h3{
  -webkit-text-stroke: 1px black;
  -webkit-text-fill-color: white;
}

.card-content h4{
  font-size: 24px;
}

.secret img{
  height:100px;
}
.section{
  padding-top: 4vw;
  padding-bottom: 4vw;
}

.student li{
  margin-bottom: 5px;
}

.student img{
  padding: 1vw;
}

.collapsible .row{
  margin-bottom: 0px;
}

.collapsible-header{
  height: 10vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-game{
  background-image: url(../img/game_img.jpg);
}

.header-web{
  background-image: url(../img/web.jpg);
}

.header-jam{
  background-image: url(../img/game_jam.jpg);
}

/* label color */
.input-field label {
 color: black;
}

.page-footer .input-field label {
 color: white;
}
/* label focus color */
.input-field input[type=text]:focus + label {
 color: grey;
}
/* label underline focus color */
.input-field input[type=text]:focus {
 border-bottom: 1px solid #000;
 box-shadow: 0 1px 0 0 #000;
}
/* valid color */
.input-field input[type=text].valid {
 border-bottom: 1px solid #000;
 box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type=text].invalid {
 border-bottom: 1px solid #000;
 box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
 color: black;
}

.page-footer .btn-floating{
  margin-left: 0px;
}
